.socials {
    margin-top: 20px;

    a {
        margin: 0 20px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            margin-left: 0;
        }
    }


    img {
        width: 25px;
    }
}