html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ymaps[class*="controls-pane"],
    ymaps[class*="copyrights-pane"] {
        display: none;
    }