.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    * {
        font-family: 'Inter', sans-serif;
    }

    a {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        transition: all .2s;
        padding: 2px;
        font-size: 14px;

        &:hover {
            transition: all .2s;
            color: #ff6f61;
        }

        >div {
            display: flex;
        }
    }

    .left {

        a {
            margin-right: 30px;
        }
    }

    .right {
        display: flex;
        align-items: center;

        a {
            margin-left: 30px;
        }

        button {
            margin-left: 30px;
        }

        .link {
            display: flex;
            align-items: center;
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 10px 15px;
            transition: .1s linear;
            font-size: 12px;

            .icon {
                margin-right: 10px;
            }

            &:hover {
                background-color: #fff;
                color: black;
                transition: .1s linear;
            }
        }
    }
}