.footer {
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}