.office {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;

    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 60px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        margin-top: 50px;

        .map {
            border: 2px solid rgba(0, 0, 0, 0.2);
            
            iframe {
                border: none;
            }
        }

        .info {
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);

            h3 {
                font-family: 'Inter', sans-serif;
                font-size: 45px;
                margin-bottom: 20px;
            }

            p {
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                margin: 8px 0;
            }

            .contact {
                margin-top: 30px;

                span {
                    margin-right: 20px;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    opacity: 0.6;
                    font-weight: 500;
                }
                        }
        }

        > div {
            width: 48%;

            
            img {
                width: 100%;
            }
        }
    }
}