.header {
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;

    .burger {
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .slice {
            width: 20px;
            height: 2px;
            background-color: white;
        }
    }

    .sideBar {
        position: absolute;
        padding: 0;
        width: 70%;
        min-height: 200vh;
        background-color: rgba(0, 0, 0, 0.3);
    }

    @media screen and (max-width: 900px) {
        padding: 30px 20px;
    }
}