.container {
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.numbers {
    margin-top: 40px;
}

.row {
    display: flex;
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.cell {
    justify-content: flex-start;
    align-self: center;
    display: flex;
    width: 20%;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.6;
}

.cellId {
    width: 5%;
}

.maincell {
    justify-content: flex-start;
    align-self: center;
    width: 50%;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.6;
}