.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 25px 0;

    .title {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        transition: all .2s;
        position: absolute;
        left: 5px;
        top: 10px;
        bottom: 0;
        z-index: 10;
        padding: 0 5px;
        height: 1em;
        opacity: 0.5;
        background: #fff;
    }

    >div {
        width: 100%;

        .focused {
            border: 2px solid rgba(0, 0, 0, 0.9);

            ~.title {
                top: -11px;
                left: 5px;
                opacity: 1;
            }
        }

        textarea {
            height: 150px;
            padding: 10px;
            width: 100%;
            border: none;
            border: 2px solid rgba(0, 0, 0, 0.3);
            outline: none;
            transition: all .2s;
            font-size: 16px;
            position: relative;
            cursor: auto;
            resize: none;
            border-radius: 2px;

            &:hover {
                transition: all .2s;
                border: 2px solid rgba(0, 0, 0, 0.5);
            }
        }


    }

    p {
        font-size: 14px;
        color: #4A607A;
    }
}

.error {

    .title {
        color: #FF3333;
        opacity: 1;
        top: -5px;
    }

    >div {
        .focused {
            border: 2px solid #FF3333;
        }

        textarea {
            border: 2px solid #FF3333;

            &:hover {
                border: 2px solid #FF3333;
            }
        }
    }
}