.page {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.categories {
    margin-top: 50px;
    display: flex;
}

.category {
    margin-right: 50px;
    opacity: 0.6;
    transition: 0.1s linear;
    cursor: pointer;
}

.category:hover {
    opacity: 1;
    transition: 0.1s linear;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}