.row {
    display: flex;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

.cell {
    justify-content: flex-start;
    align-self: center;
    display: flex;
    width: 20%;
}

.smallcell {
    justify-content: flex-start;
    align-self: center;
    width: 10%;
}

.maincell {
    justify-content: flex-start;
    align-self: center;
    width: 50%;
    margin-left: 20px;
}