.main {
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.sidebar {
    width: 170px;
    height: 100vh;
    position: fixed;
    background-color: rgb(194, 194, 194);
}

.menubtn {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s linear;
    z-index: 999;
}

.menubtn:hover {
    background-color: rgba(241, 241, 241, 0.8);
    transition: 0.2s linear;

}

.line {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
}

.line:last-child {
    margin-bottom: 0px;
}

.sidenavbar {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: black;
}

.link {
    all: unset;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s linear;
}

.link:hover {
    background-color: rgba(241, 241, 241, 0.8);
    transition: 0.2s linear;
}

.activeLink {
    color: rgb(0, 0, 203);
    background-color: rgba(241, 241, 241, 0.8);
}

.footer {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    margin-left: 10px;
}