.view {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.innerview {
    display: flex;
}

.viewText {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding: 0 10px 0 5px;
}

.icon {
    width: 25px;
}

.innerview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    cursor: pointer;
}

.innerview:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.innerview:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 900px) {
    .view {
        margin-right: 20px;
    }
}